<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employment within The US</title>
    <style>
        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            font-size: 16px;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        body {
            background-color: #f8e5ca;
        }
        #myChart {
            width: 1300px !important;
            height: 1300px !important;
        }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    

    <h1>Employment Type & Employment Rates Around The US</h1>
    <p>Within this data, it is going to show the total & types of Employment via the US Census Bureau.</p>

    <section>
        <h2>Charts</h2>
        <p>The Charts show the overall employemnt data for the country.</p>

        <form action="/" method="post">
            <label for="year">Select Year:</label>
            <select name="year" id="year">
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                
            </select>
            <label for="industry">Select Industry:</label>
            <select name="industry" id="industry">
                <option value="Agriculture">Agriculture</option>
                <option value="Construction">Construction</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Wholesale">Wholesale</option>
                <option value="Retail">Retail</option>
                <option value="Transportation">Transportation</option>
                <option value="Information">Information</option>
                <option value="Finance and Real Estate">Finance and Real Estate</option>
                <option value="Professional, scientific, and management, and administrative and waste management services">Professional, scientific, and management, and administrative and waste management services</option>
                <option value="Education and Health">Education and Health</option>
                <option value="Arts, Entertainment, and Food">Arts, Entertainment, and Food</option>
                <option value="Others, except public administration">Others, except public administration</option>
                <option value="Public Administration">Public Administration</option>
                
            </select>
            <button type="submit">Filter</button>
        </form>
        
        <label for="chartType">Select Chart Type:</label>
        <select id="chartType">
            <option value="bar">Bar Chart</option>
            <option value="radar">Radar Chart</option>
            <option value="pie">Pie Chart</option>
        </select>

    <canvas id="myChart" ></canvas>

        <script>
            // JavaScript code to create and update the chart based on selected chart type
            var ctx = document.getElementById('myChart').getContext('2d');
            var chartTypeSelector = document.getElementById('chartType');
            var chart = null;

             // Function to update the chart based on selected chart type
            function updateChart(chartType) {

                if (chart) {
                    chart.destroy(); // Destroy the existing chart
                }
                // Create new chart based on selected chart type
                if (chartType === 'bar') {
                    chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for row in rows %}"{{ row[0] }}", {% endfor %}],
                            datasets: [{
                                label: 'Industry Population',
                                data: [{% for row in rows %}{{ row[3] }}, {% endfor %}],
                                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                        
                    });
                } else if (chartType === 'pie') {
                    chart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for row in rows %}"{{ row[0] }}", {% endfor %}],
                            datasets: [{
                                label: 'Industry Population',
                                data: [{% for row in rows %}{{ row[3] }}, {% endfor %}],
                                backgroundColor: [
                                    'rgb(255, 0, 0)',
                                    'rgb(0, 255, 0)',
                                    'rgb(192, 192, 192)',
                                    'rgb(255, 255, 0)',
                                    'rgb(255, 0, 255)',
                                    'rgb(0, 255, 255)',
                                    'rgb(128, 0, 0)',
                                    'rgb(0, 128, 0)',
                                    'rgb(0, 0, 128)',
                                    'rgb(128, 128, 0)',
                                    'rgb(128, 0, 128)',
                                    'rgb(0, 128, 128)',
                                    'rgb(0, 0, 255)', 
                                    'rgb(128, 128, 128)',
                                    'rgb(255, 165, 0)',
                                    'rgb(255, 192, 203)',
                                    'rgb(255, 255, 255)', 
                                    'rgb(0, 0, 0)',
                                    'rgb(255, 69, 0)',
                                    'rgb(0, 255, 127)'
                                ],
                                hoverOffset: 4
                            }]
                        }
                    });
                } else if (chartType === 'radar') {
                    chart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: [{% for row in rows %}"{{ row[0] }}", {% endfor %}],
                            datasets: [{
                                label: 'Industry Population ',
                                data: [{% for row in rows %}{{ row[3] }}, {% endfor %}],
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 300, 0.2)',
                                borderWidth: 3,
                                pointBackgroundColor: 'rgb(0, 0, 0)',
                                pointRadius: 4

                            }]
                        },
                        options: {
                            scales: {
                                r: {
                                    beginAtZero: true
                                }
                            },
                        }
                    });
                }

            }
                
            
            
            // Event listener to update the chart when the selected chart type changes
            chartTypeSelector.addEventListener('change', function() {
                var selectedChartType = chartTypeSelector.value;
                updateChart(selectedChartType);
            });
            // Initial chart creation with default chart type (bar chart)
            updateChart('bar');

        </script>

            </canvas>
        </div>
    </section>

    <section>
        <h2>Data Tables</h2>
        <p>The tables will show the top 20 of each dataset.</p>

        <!-- <label for="State">State:</label>
        <input type="State" id="State" placeholder="State">
        <label for="City">City:</label>
        <input type="text" id="City" placeholder="City">

        <div id="selectedTable"></div> -->
    </section>

    <ul>
        {% for row in rows %}
            <li>: {{ row[0] }} | Industry: {{ row[1] }} | Year: {{ row[2] }} | Total Employed: {{ row[3] }} </li>
        {% endfor %}
    </ul>

</body>
</html>